.list {
    display: grid;
    list-style: none;
    grid-template-columns: .3fr 2fr .5fr;
    width: 100%;
    padding: .5rem;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    /* gap: .1rem; */
    align-items: center;
    text-transform: capitalize;
}

.list .bi-check2 {
    font-size: 13px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: #cef2d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #14682d;
}

.list .bi-x {
    font-size: 13px;
    height: 1.2rem;
    width: 1.2rem;
    background-color: rgb(238, 203, 222);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(85, 15, 53);
}

.list span {
    font-size: 16px;
    font-weight: 600;
    color: #25292f;
}

.list span.checked {
    text-decoration: line-through;
}

.list button {
    border: none;
    background-color: rgb(238, 203, 222);
    padding: .2rem 0;
    border-radius: 3px;
    font-weight: 600;
    color: rgb(39, 4, 23);
    cursor: pointer;
}